*, *::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.chat-rooms{
  font-family: 'Righteous', cursive;
  text-align: center;
  box-sizing:content-box;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 25%;
  overflow:hidden;
  background-color: #A5457A;
  font-size:25px;
}

.rooms-display{
   text-align: center;
   font-family: 'Righteous', cursive;
   padding: 15px;
}

.right-column {
    font-family: 'Righteous', cursive;
    padding-top: 25px;
    background-color: white;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    right: 0;
    width: 75%;
    overflow: hidden;
    background-color: #fafafa;
}

.room-title {
  background-color: #FB4C81;
  text-align: center;
  padding: 12px;
}

#room-names {
  font-size: 35px;
}

.message-area {
  width:100%;
  padding-right: 25px;
  position: absolute;
  bottom: 0;
}

.send-form {
  display: inline-block;
  height: 50px;
  border: 1px solid;
  width 83%;
  left: 25%;
  position: fixed;
  padding: 0 20px;
  width:  55%;
}

.send-button {
  width: 15%;
  height: 50px;
  display: inline-block;
  bordeR: 2px solid;
  background-color: ;
  color:;
  cursor: pointer;
  text-align: center;
  float: right;
}
